# Canonical names and addresses for `git log`, `git shortlog` and `git blame`.
# See https://git-scm.com/docs/gitmailmap
Umutcan Emre Tezgel <phoenixprojekt1@gmail.com>
Umutcan Emre Tezgel <phoenixprojekt1@gmail.com> <umutcantezgel@gmail.com>
